body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f8f9fc;
}

* {
    outline: 0;
}

$link-color: #0670ec;
$hover-link-color: #ff6633;
$bg-color: #2b3d61;

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: $hover-link-color;
    }
}

.wrapper {
    &__block {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    &__breadcrumb {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media (min-width: 1200px) {
    .col-xl-five {
        flex: 0 0 auto;
        width: 20%;
    }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-weight: normal;
}

.dropdown-menu {
    width: 250px;
}

.dropdown-toggle {
    color: #fff;
    font-weight: 300;
}

.btn-accent {
    font-size: 14px;
    letter-spacing: 0.025em;
    color: #fff;
    border-radius: 2px;
    background-color: $hover-link-color;
    transition: .2s;

    &:hover {
        color: #fff;
        background-color: darken($hover-link-color, 5%);
    }
}

.breadcrumb {
    background: transparent;
}

.box {
    padding: 20px;
    background-color: #fff;
    transition: .3s;

    &_shadow {
        &:hover {
            box-shadow: 0 2px 20px 0 #dbdbe8;
        }
    }

    &_list {
        padding: 0;
    }
}